## Pivoting

### Create a new derived table out of an existing one
### specify an index or indices to pivot on
### Reshape data  based on column values. 
### Uses unique values from index / columns

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('GlobalFirePower.csv')
 
data.head(5)

,Country,ISO3,Rank,Total Population,Manpower Available,Fit-for-Service,Reaching Military Age,Total Military Personnel,Active Personnel,Reserve Personnel,...,Railway Coverage (km),Serivecable Airports,Defense Budget,External Debt,Foreign Exchange / Gold,Purchasing Power Parity,Square Land Area (km),Coastline (km),Shared Borders (km),Waterways (km)
0,United States,USA,1,323995528,145215000,120025000,4220000,2363675,1373650,990025,...,224792,13513,587800,17910000,117600,18560000,9826675,19924,12048,41009
1,Russia,RUS,2,142355415,70000000,47000000,1355000,3371027,798527,2572500,...,87157,1218,44600,514800,365500,3745000,17098242,37653,22408,102000
2,China,CHN,3,1373541278,750000000,619000000,19550000,3712500,2260000,1452500,...,86000,507,161700,983500,3092000,21270000,9596961,14500,22457,110000
3,India,IND,4,1266883598,616000000,489600000,22900000,4207250,1362500,2844750,...,63974,346,51000,507000,359100,8721000,3287263,7000,13888,14500
4,France,FRA,5,66836154,30000000,23750000,775000,387635,204000,183635,...,29640,464,35000,5360000,138200,2737000,643801,4853,4072,8501

In [3]:

p=pd.pivot_table(data,index=["ISO3"]) #specify a unique index
#ISO3 is a column with all unique values

In [4]:
p.head(5)

,Active Personnel,Aircraft Carriers,Armored Fighting Vehicles,Attack Aircraft,Attack Helicopters,Combat Tanks,Consumption (bbl/dy),Corvettes,Defense Budget,Destroyers,...,Square Land Area (km),Submarines,Total Aircraft Strength,Total Helicopter Strength,Total Military Personnel,Total Naval Assets,Total Population,Towed Artillery,Trainer Aircraft,Transport Aircraft
ISO3,,,,,,,,,,,,,,,,,,,,,
AFG,200000,0,9562,15,6,0,50000,0,11500,0,...,652230,0,205,142,200000,0,33332025,200,0,158
ALB,50000,0,933,0,0,0,40000,0,110,0,...,28748,0,23,23,64000,38,3038594,0,0,23
ALG,520000,0,6754,99,38,2405,350000,13,10570,0,...,2381741,6,502,257,792350,85,40263711,270,68,266
ANG,107000,0,538,78,15,244,133000,0,4150,0,...,1246700,0,285,118,175500,57,20172332,332,48,128
ARG,75000,0,828,64,0,390,760000,9,4330,4,...,2780400,3,248,86,127720,42,43886748,289,59,102

In [5]:
p=pd.pivot_table(data,index=["Country","ISO3"]) #specify tow column indices with unique values to pivot on

In [6]:
p.head(4)

,,Active Personnel,Aircraft Carriers,Armored Fighting Vehicles,Attack Aircraft,Attack Helicopters,Combat Tanks,Consumption (bbl/dy),Corvettes,Defense Budget,Destroyers,...,Square Land Area (km),Submarines,Total Aircraft Strength,Total Helicopter Strength,Total Military Personnel,Total Naval Assets,Total Population,Towed Artillery,Trainer Aircraft,Transport Aircraft
Country,ISO3,,,,,,,,,,,,,,,,,,,,,
Afghanistan,AFG,200000,0,9562,15,6,0,50000,0,11500,0,...,652230,0,205,142,200000,0,33332025,200,0,158
Albania,ALB,50000,0,933,0,0,0,40000,0,110,0,...,28748,0,23,23,64000,38,3038594,0,0,23
Algeria,ALG,520000,0,6754,99,38,2405,350000,13,10570,0,...,2381741,6,502,257,792350,85,40263711,270,68,266
Angola,ANG,107000,0,538,78,15,244,133000,0,4150,0,...,1246700,0,285,118,175500,57,20172332,332,48,128

In [7]:
p=pd.pivot_table(data,index=["Country","ISO3"],values=["Attack Aircraft"]) #include the corrsponding values

In [8]:
p.head(4)

                  Attack Aircraft
Country     ISO3
Afghanistan AFG                15
Albania     ALB                 0
Algeria     ALG                99
Angola      ANG                78

In [9]:
p=pd.pivot_table(data,index=["Country","ISO3","Rank"],values=["Attack Aircraft","Active Personnel"]) #3 indices to pivot on 
#input 2 values

In [10]:
p.tail(8)

                         Active Personnel  Attack Aircraft
Country       ISO3 Rank
United States USA  1              1373650             2785
Uruguay       URU  104              25000               13
Uzbekistan    UZB  48               56500               89
Venezuela     VEN  45              115000               33
Vietnam       VTN  16              448500               73
Yemen         YEM  64               43500               77
Zambia        ZAM  85               15100               18
Zimbabwe      ZIM  81               30000               10

In [ ]:
## Pivoting with column indices that have non-unique values

In [11]:
df = pd.read_csv('endangeredLang2.csv')
 
df.head(n=6)

,ID,EnglishNames,Countries,CountryCode,Endangerment,No,Latitude,Longitude
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681

In [14]:
import numpy as np

In [15]:
x=pd.pivot_table(df, index=['CountryCode','Endangerment'], aggfunc=np.sum) # sum endangered languages according to country 
#endangered status

In [16]:
x

                                                                             ID  \
CountryCode                                        Endangerment
AFG                                                Critically endangered   2631
                                                   Definitely endangered   7529
                                                   Severely endangered     6320
                                                   Vulnerable              2479
ALB, BGR, GRC, MKD, SRB                            Definitely endangered    331
ALB, BGR, MKD, ROU, SRB                            Vulnerable              1026
ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, FR... Definitely endangered    405
ALB, DZA, BIH, BGR, HRV, GRC, MKD, MAR, ROU, TU... Severely endangered      374
ANG                                                Definitely endangered    127
                                                   Extinct                  375
ARG                                                Critically endangered   2718
                                                   Definitely endangered   5499
                                                   Extinct                 1902
                                                   Severely endangered     1754
                                                   Vulnerable               646
ARG, BOL                                           Vulnerable              4020
ARG, BOL, CHL                                      Extinct                  573
ARG, BOL, PRY                                      Definitely endangered    588
                                                   Severely endangered     1960
ARG, PRY                                           Severely endangered     1906
ARG, URY                                           Severely endangered     1907
ARM, GEO, GRC, RUS, TUR, UKR                       Definitely endangered   1078
ARM, IRN, IRQ, SYR, TUR                            Definitely endangered   2232
AUS                                                Critically endangered  25472
                                                   Definitely endangered   8288
                                                   Extinct                 1689
                                                   Severely endangered     8217
                                                   Vulnerable             12792
AUT, HUN, SVK                                      Definitely endangered   1350
AZE                                                Extinct                 1613
...                                                                         ...
UKR                                                Severely endangered     3362
USA                                                Critically endangered  68818
                                                   Definitely endangered  28704
                                                   Extinct                45270
                                                   Severely endangered    39478
                                                   Vulnerable             13943
UZB                                                Definitely endangered   1678
UZB, TJK, AFG                                      Definitely endangered   2486
                                                   Severely endangered     1439
VEN                                                Critically endangered   5863
                                                   Definitely endangered    310
                                                   Severely endangered     2334
                                                   Vulnerable             12468
VNM                                                Critically endangered   3281
                                                   Definitely endangered  19484
                                                   Severely endangered     4427
                                                   Vulnerable              8983
VUT                                                Critically endangered  50076
                                                   Definitely endangered  25925
                                                   Extinct                 7430
                                                   Severely endangered     6953
                                                   Vulnerable             23385
YEM                                                Definitely endangered   2179
                                                   Severely endangered     1949
ZAF                                                Critically endangered   1707
                                                   Extinct                 4864
ZAI                                                Critically endangered    110
                                                   Extinct                  111
                                                   Severely endangered      225
ZAI, SDN                                           Critically endangered     64

                                                                           Latitude  \
CountryCode                                        Endangerment
AFG                                                Critically endangered    68.6708
                                                   Definitely endangered   174.4235
                                                   Severely endangered     140.7859
                                                   Vulnerable               34.6600
ALB, BGR, GRC, MKD, SRB                            Definitely endangered    40.2292
ALB, BGR, MKD, ROU, SRB                            Vulnerable               42.9644
ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, FR... Definitely endangered    46.3165
ALB, DZA, BIH, BGR, HRV, GRC, MKD, MAR, ROU, TU... Severely endangered      41.2607
ANG                                                Definitely endangered   -10.5526
                                                   Extinct                 -49.1449
ARG                                                Critically endangered   -83.3489
                                                   Definitely endangered  -103.4887
                                                   Extinct                -125.0885
                                                   Severely endangered     -40.0791
                                                   Vulnerable              -25.4035
ARG, BOL                                           Vulnerable              -42.1735
ARG, BOL, CHL                                      Extinct                 -22.7559
ARG, BOL, PRY                                      Definitely endangered   -23.1201
                                                   Severely endangered     -21.7799
ARG, PRY                                           Severely endangered     -24.2870
ARG, URY                                           Severely endangered     -29.6116
ARM, GEO, GRC, RUS, TUR, UKR                       Definitely endangered    40.8470
ARM, IRN, IRQ, SYR, TUR                            Definitely endangered    36.4477
AUS                                                Critically endangered  -874.2096
                                                   Definitely endangered  -227.3509
                                                   Extinct                -105.1566
                                                   Severely endangered    -524.8533
                                                   Vulnerable             -299.0820
AUT, HUN, SVK                                      Definitely endangered    47.8435
AZE                                                Extinct                  38.9455
...                                                                             ...
UKR                                                Severely endangered     183.0775
USA                                                Critically endangered  3569.7742
                                                   Definitely endangered  1077.9799
                                                   Extinct                2164.8588
                                                   Severely endangered    1671.8237
                                                   Vulnerable              539.6379
UZB                                                Definitely endangered    39.8043
UZB, TJK, AFG                                      Definitely endangered    36.9608
                                                   Severely endangered      38.5094
VEN                                                Critically endangered    38.4243
                                                   Definitely endangered     6.7518
                                                   Severely endangered      20.4919
                                                   Vulnerable               43.4109
VNM                                                Critically endangered    65.7161
                                                   Definitely endangered   224.0907
                                                   Severely endangered      45.2333
                                                   Vulnerable               74.9665
VUT                                                Critically endangered  -332.8673
                                                   Definitely endangered  -149.1316
                                                   Extinct                 -50.2777
                                                   Severely endangered     -46.7323
                                                   Vulnerable             -138.7280
YEM                                                Definitely endangered    16.8834
                                                   Severely endangered      12.5331
ZAF                                                Critically endangered   -86.8445
                                                   Extinct                -211.7526
ZAI                                                Critically endangered     4.6092
                                                   Extinct                   2.4931
                                                   Severely endangered       5.8389
ZAI, SDN                                           Critically endangered     4.3902

                                                                          Longitude  \
CountryCode                                        Endangerment
AFG                                                Critically endangered   131.9604
                                                   Definitely endangered   352.4990
                                                   Severely endangered     283.8477
                                                   Vulnerable               70.2000
ALB, BGR, GRC, MKD, SRB                            Definitely endangered    21.1376
ALB, BGR, MKD, ROU, SRB                            Vulnerable               22.1374
ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, FR... Definitely endangered    22.3681
ALB, DZA, BIH, BGR, HRV, GRC, MKD, MAR, ROU, TU... Severely endangered      28.4985
ANG                                                Definitely endangered    14.9633
                                                   Extinct                  41.3908
ARG                                                Critically endangered  -130.8911
                                                   Definitely endangered  -246.8407
                                                   Extinct                -195.2489
                                                   Severely endangered     -71.0156
                                                   Vulnerable              -58.6669
ARG, BOL                                           Vulnerable             -127.2655
ARG, BOL, CHL                                      Extinct                 -68.2470
ARG, BOL, PRY                                      Definitely endangered   -62.7539
                                                   Severely endangered     -62.6440
ARG, PRY                                           Severely endangered     -60.3808
ARG, URY                                           Severely endangered     -57.4804
ARM, GEO, GRC, RUS, TUR, UKR                       Definitely endangered    40.0149
ARM, IRN, IRQ, SYR, TUR                            Definitely endangered    43.2971
AUS                                                Critically endangered  5691.9650
                                                   Definitely endangered  1760.3483
                                                   Extinct                 817.8769
                                                   Severely endangered    3957.3731
                                                   Vulnerable             2241.1772
AUT, HUN, SVK                                      Definitely endangered    16.5179
AZE                                                Extinct                  46.0989
...                                                                             ...
UKR                                                Severely endangered     140.1400
USA                                                Critically endangered -9453.6384
                                                   Definitely endangered -2911.5248
                                                   Extinct               -6161.0118
                                                   Severely endangered   -4501.6825
                                                   Vulnerable            -1552.7747
UZB                                                Definitely endangered    64.4224
UZB, TJK, AFG                                      Definitely endangered    66.8133
                                                   Severely endangered      68.0932
VEN                                                Critically endangered  -464.0677
                                                   Definitely endangered   -68.2470
                                                   Severely endangered    -331.7429
                                                   Vulnerable             -528.7057
VNM                                                Critically endangered   314.9870
                                                   Definitely endangered  1151.8448
                                                   Severely endangered     207.9999
                                                   Vulnerable              425.9999
VUT                                                Critically endangered  3518.9067
                                                   Definitely endangered  1672.0631
                                                   Extinct                 503.5850
                                                   Severely endangered     502.1939
                                                   Vulnerable             1508.2575
YEM                                                Definitely endangered    43.2655
                                                   Severely endangered      53.7670
ZAF                                                Critically endangered    66.6205
                                                   Extinct                 167.3962
ZAI                                                Critically endangered    27.0812
                                                   Extinct                  28.0590
                                                   Severely endangered      54.3383
ZAI, SDN                                           Critically endangered    29.2016

                                                                                 No
CountryCode                                        Endangerment
AFG                                                Critically endangered      300.0
                                                   Definitely endangered    14000.0
                                                   Severely endangered       4200.0
                                                   Vulnerable                   NaN
ALB, BGR, GRC, MKD, SRB                            Definitely endangered   500000.0
ALB, BGR, MKD, ROU, SRB                            Vulnerable             1500000.0
ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, FR... Definitely endangered  3500000.0
ALB, DZA, BIH, BGR, HRV, GRC, MKD, MAR, ROU, TU... Severely endangered          NaN
ANG                                                Definitely endangered     2627.0
                                                   Extinct                      0.0
ARG                                                Critically endangered        5.0
                                                   Definitely endangered   114000.0
                                                   Extinct                      0.0
                                                   Severely endangered     100000.0
                                                   Vulnerable                3000.0
ARG, BOL                                           Vulnerable               40000.0
ARG, BOL, CHL                                      Extinct                      0.0
ARG, BOL, PRY                                      Definitely endangered     1200.0
                                                   Severely endangered          NaN
ARG, PRY                                           Severely endangered        800.0
ARG, URY                                           Severely endangered       3000.0
ARM, GEO, GRC, RUS, TUR, UKR                       Definitely endangered   300000.0
ARM, IRN, IRQ, SYR, TUR                            Definitely endangered   240000.0
AUS                                                Critically endangered      422.0
                                                   Definitely endangered     2622.0
                                                   Extinct                      0.0
                                                   Severely endangered       1113.0
                                                   Vulnerable               21384.0
AUT, HUN, SVK                                      Definitely endangered    30000.0
AZE                                                Extinct                      0.0
...                                                                             ...
UKR                                                Severely endangered     120000.0
USA                                                Critically endangered    10218.0
                                                   Definitely endangered    90065.0
                                                   Extinct                      0.0
                                                   Severely endangered      28469.0
                                                   Vulnerable              214675.0
UZB                                                Definitely endangered    10000.0
UZB, TJK, AFG                                      Definitely endangered        NaN
                                                   Severely endangered       7000.0
VEN                                                Critically endangered      435.0
                                                   Definitely endangered     5000.0
                                                   Severely endangered      14300.0
                                                   Vulnerable               27093.0
VNM                                                Critically endangered      325.0
                                                   Definitely endangered   136522.0
                                                   Severely endangered       3941.0
                                                   Vulnerable               19769.0
VUT                                                Critically endangered      179.0
                                                   Definitely endangered     1810.0

In [17]:
x=pd.pivot_table(df, index=['CountryCode','Endangerment'],values=['No'], aggfunc=np.sum) # sum endangered languages according to country 
#endangered status

In [18]:
x

                                                                                 No
CountryCode                                        Endangerment
AFG                                                Critically endangered      300.0
                                                   Definitely endangered    14000.0
                                                   Severely endangered       4200.0
                                                   Vulnerable                   NaN
ALB, BGR, GRC, MKD, SRB                            Definitely endangered   500000.0
ALB, BGR, MKD, ROU, SRB                            Vulnerable             1500000.0
ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, FR... Definitely endangered  3500000.0
ALB, DZA, BIH, BGR, HRV, GRC, MKD, MAR, ROU, TU... Severely endangered          NaN
ANG                                                Definitely endangered     2627.0
                                                   Extinct                      0.0
ARG                                                Critically endangered        5.0
                                                   Definitely endangered   114000.0
                                                   Extinct                      0.0
                                                   Severely endangered     100000.0
                                                   Vulnerable                3000.0
ARG, BOL                                           Vulnerable               40000.0
ARG, BOL, CHL                                      Extinct                      0.0
ARG, BOL, PRY                                      Definitely endangered     1200.0
                                                   Severely endangered          NaN
ARG, PRY                                           Severely endangered        800.0
ARG, URY                                           Severely endangered       3000.0
ARM, GEO, GRC, RUS, TUR, UKR                       Definitely endangered   300000.0
ARM, IRN, IRQ, SYR, TUR                            Definitely endangered   240000.0
AUS                                                Critically endangered      422.0
                                                   Definitely endangered     2622.0
                                                   Extinct                      0.0
                                                   Severely endangered       1113.0
                                                   Vulnerable               21384.0
AUT, HUN, SVK                                      Definitely endangered    30000.0
AZE                                                Extinct                      0.0
...                                                                             ...
UKR                                                Severely endangered     120000.0
USA                                                Critically endangered    10218.0
                                                   Definitely endangered    90065.0
                                                   Extinct                      0.0
                                                   Severely endangered      28469.0
                                                   Vulnerable              214675.0
UZB                                                Definitely endangered    10000.0
UZB, TJK, AFG                                      Definitely endangered        NaN
                                                   Severely endangered       7000.0
VEN                                                Critically endangered      435.0
                                                   Definitely endangered     5000.0
                                                   Severely endangered      14300.0
                                                   Vulnerable               27093.0
VNM                                                Critically endangered      325.0
                                                   Definitely endangered   136522.0
                                                   Severely endangered       3941.0
                                                   Vulnerable               19769.0
VUT                                                Critically endangered      179.0
                                                   Definitely endangered     1810.0
                                                   Extinct                      0.0
                                                   Severely endangered        155.0
                                                   Vulnerable                2600.0
YEM                                                Definitely endangered    75000.0
                                                   Severely endangered      50000.0
ZAF                                                Critically endangered      101.0
                                                   Extinct                      0.0
ZAI                                                Critically endangered       10.0
                                                   Extinct                      0.0
                                                   Severely endangered       2000.0
ZAI, SDN                                           Critically endangered      494.0

[531 rows x 1 columns]