## Reshaping

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('endangeredLang2.csv')
 
data.head(n=6)

,ID,EnglishNames,Countries,CountryCode,Endangerment,No,Latitude,Longitude
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756
4,382,Lombard,"Italy, Switzerland","ITA, CHE",Definitely endangered,3500000.0,45.7215,9.3273
5,405,Romani,"Albania, Germany, Austria, Belarus, Bosnia and...","ALB, DEU, AUT, BRB, BIH, BGR, HRV, EST, FIN, F...",Definitely endangered,3500000.0,46.3165,22.3681

In [4]:
dstack=data.stack() #pivot the columns as rows for each ID
#columns become row labels
dstack

0     ID                                                           1022
      EnglishNames                                        South Italian
      Countries                                                   Italy
      CountryCode                                                   ITA
      Endangerment                                           Vulnerable
      No                                                        7.5e+06
      Latitude                                                  40.9798
      Longitude                                                  15.249
1     ID                                                           1023
      EnglishNames                                             Sicilian
      Countries                                                   Italy
      CountryCode                                                   ITA
      Endangerment                                           Vulnerable
      No                                                          5e+06
      Latitude                                                  37.4399
      Longitude                                                 14.5019
2     ID                                                            383
      EnglishNames                                            Low Saxon
      Countries       Germany, Denmark, Netherlands, Poland, Russian...
      CountryCode                               DEU, DNK, NLD, POL, RUS
      Endangerment                                           Vulnerable
      No                                                        4.8e+06
      Latitude                                                  53.4029
      Longitude                                                 10.3601
3     ID                                                            335
      EnglishNames                                           Belarusian
      Countries       Belarus, Latvia, Lithuania, Poland, Russian Fe...
      CountryCode                          BRB, LVA, LTU, POL, RUS, UKR
      Endangerment                                           Vulnerable
      No                                                          4e+06
                                            ...
2717  Latitude                                                   24.458
      Longitude                                                  122.98
2718  ID                                                           2018
      EnglishNames                                               Yucuna
      Countries                                                Colombia
      CountryCode                                                   COL
      Endangerment                                Definitely endangered
      Latitude                                                  -1.2633
      Longitude                                                 -70.664
2719  ID                                                           2015
      EnglishNames                                    Yurut√≠ (Colombia)
      Countries                                                Colombia
      CountryCode                                                   COL
      Endangerment                                Definitely endangered
      Latitude                                                    1.137
      Longitude                                                -70.2136
2720  ID                                                           2716
      EnglishNames                                            Zangskari
      Countries                                         India, Pakistan
      CountryCode                                              IND, PAK
      Endangerment                                Definitely endangered
      Latitude                                                  34.0833
      Longitude                                                   76.85
2721  ID                                                           2177
      EnglishNames                                              Zidgali
      Countries                                                    Oman
      CountryCode                                                   OMN
      Endangerment                                Critically endangered
      Latitude                                                  23.4027
      Longitude                                                 58.0957
Length: 21585, dtype: object

In [5]:
x=dstack.unstack()  #unstack the previous

x.head(4)

,ID,EnglishNames,Countries,CountryCode,Endangerment,No,Latitude,Longitude
0,1022,South Italian,Italy,ITA,Vulnerable,7.5e+06,40.9798,15.249
1,1023,Sicilian,Italy,ITA,Vulnerable,5e+06,37.4399,14.5019
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4.8e+06,53.4029,10.3601
3,335,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4e+06,53.956,27.5756

### melting

In [6]:
patient = pd.DataFrame({'FirstName' : ['Bill', 'Jane'],
                       'LastName' : ['Shakespeare', 'Austen'],
                       'BloodType' : ['o+', 'B+'],
                       'Wt' : [85, 62]})

patient

  FirstName     LastName BloodType  Wt
0      Bill  Shakespeare        o+  85
1      Jane       Austen        B+  62

In [7]:
# Use `melt()
#you have a data that has one or more columns that are identifier variables, 
#while all other columns are considered measured variables
print(pd.melt(patient, id_vars=['FirstName', 'LastName'], var_name='measurements'))

  FirstName     LastName measurements value
0      Bill  Shakespeare    BloodType    o+
1      Jane       Austen    BloodType    B+
2      Bill  Shakespeare           Wt    85
3      Jane       Austen           Wt    62

In [8]:
x=data[0:15]
x.head(3)

,ID,EnglishNames,Countries,CountryCode,Endangerment,No,Latitude,Longitude
0,1022,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490
1,1023,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019
2,383,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601

In [9]:
x=x.drop('ID',axis=1) #drop ID column

In [10]:
x.head(4)

,EnglishNames,Countries,CountryCode,Endangerment,No,Latitude,Longitude
0,South Italian,Italy,ITA,Vulnerable,7500000.0,40.9798,15.2490
1,Sicilian,Italy,ITA,Vulnerable,5000000.0,37.4399,14.5019
2,Low Saxon,"Germany, Denmark, Netherlands, Poland, Russian...","DEU, DNK, NLD, POL, RUS",Vulnerable,4800000.0,53.4029,10.3601
3,Belarusian,"Belarus, Latvia, Lithuania, Poland, Russian Fe...","BRB, LVA, LTU, POL, RUS, UKR",Vulnerable,4000000.0,53.9560,27.5756

In [11]:
x.drop(['EnglishNames', 'CountryCode','Latitude','Longitude'], axis=1, inplace=True) #drop multiple coulmns

In [12]:
x.head(4)

                                           Countries Endangerment         No
0                                              Italy   Vulnerable  7500000.0
1                                              Italy   Vulnerable  5000000.0
2  Germany, Denmark, Netherlands, Poland, Russian...   Vulnerable  4800000.0
3  Belarus, Latvia, Lithuania, Poland, Russian Fe...   Vulnerable  4000000.0

In [27]:
melted = pd.melt(x, id_vars=["Countries","Endangerment"], value_name="No")

In [28]:
melted

,Countries,Endangerment,variable,No
0,Italy,Vulnerable,No,7500000.0
1,Italy,Vulnerable,No,5000000.0
2,"Germany, Denmark, Netherlands, Poland, Russian...",Vulnerable,No,4800000.0
3,"Belarus, Latvia, Lithuania, Poland, Russian Fe...",Vulnerable,No,4000000.0
4,"Italy, Switzerland",Definitely endangered,No,3500000.0
5,"Albania, Germany, Austria, Belarus, Bosnia and...",Definitely endangered,No,3500000.0
6,Israel,Definitely endangered,No,3000000.0
7,India,Vulnerable,No,2713790.0
8,"Germany, Belgium, Netherlands",Vulnerable,No,2600000.0
9,Bolivia (Plurinational State of),Vulnerable,No,2300000.0
10,"India, Nepal",Vulnerable,No,2003783.0
11,"Bolivia (Plurinational State of), Chile, Peru",Vulnerable,No,2000000.0
12,"Italy, San Marino",Definitely endangered,No,2000000.0
13,Italy,Definitely endangered,No,2000000.0
14,"Croatia, Italy, Slovenia",Vulnerable,No,2000000.0

In [14]:
melted = pd.melt(x, id_vars=["Countries"],var_name="Endangerment", value_name="No") # ‚Äúvar_name‚Äù variables will turn rows into
#columns
melted

,Countries,Endangerment,No
0,Italy,Endangerment,Vulnerable
1,Italy,Endangerment,Vulnerable
2,"Germany, Denmark, Netherlands, Poland, Russian...",Endangerment,Vulnerable
3,"Belarus, Latvia, Lithuania, Poland, Russian Fe...",Endangerment,Vulnerable
4,"Italy, Switzerland",Endangerment,Definitely endangered
5,"Albania, Germany, Austria, Belarus, Bosnia and...",Endangerment,Definitely endangered
6,Israel,Endangerment,Definitely endangered
7,India,Endangerment,Vulnerable
8,"Germany, Belgium, Netherlands",Endangerment,Vulnerable
9,Bolivia (Plurinational State of),Endangerment,Vulnerable
10,"India, Nepal",Endangerment,Vulnerable
11,"Bolivia (Plurinational State of), Chile, Peru",Endangerment,Vulnerable
12,"Italy, San Marino",Endangerment,Definitely endangered
13,Italy,Endangerment,Definitely endangered
14,"Croatia, Italy, Slovenia",Endangerment,Vulnerable
15,Italy,No,7.5e+06
16,Italy,No,5e+06
17,"Germany, Denmark, Netherlands, Poland, Russian...",No,4.8e+06
18,"Belarus, Latvia, Lithuania, Poland, Russian Fe...",No,4e+06
19,"Italy, Switzerland",No,3.5e+06
20,"Albania, Germany, Austria, Belarus, Bosnia and...",No,3.5e+06
21,Israel,No,3e+06
22,India,No,2.71379e+06
23,"Germany, Belgium, Netherlands",No,2.6e+06
24,Bolivia (Plurinational State of),No,2.3e+06
25,"India, Nepal",No,2.00378e+06
26,"Bolivia (Plurinational State of), Chile, Peru",No,2e+06
27,"Italy, San Marino",No,2e+06
28,Italy,No,2e+06
29,"Croatia, Italy, Slovenia",No,2e+06